<div class="bap-header">
    <img class="header-img" src="../../../assets/img/bautismo/bautismo1.png" alt="">
    <br><br>
    <h2><strong>BAUTISMO EN AGUA</strong></h2>
</div>
<div class="container" >
    
    <div class="bap-content">
        <div class="row">
            <p id="bap-subtext"> El <strong>Bautismo</strong> es un momento increíblemente importante en el viaje de fe de cada creyente.</p>
          
        </div>

        <div class="fondo1">
            <div id="bat-text1" >
                <br>
                <p>En la <strong> Comunidad Carismatica Jesucristo es el Señor</strong>, invitamos a todos los nuevos creyentes a ser bautizados.</p>
                <p>Es la declaración pública del compromiso de una persona con Jesucristo.</p>
                
            </div>
            <div id="bat-img1" >
                <img  src="../../../assets/img/bautismo/15.jpg" style="box-shadow: 0 0 15px black;">
            </div>
        </div>


        <div class="fondo2">
            <div  id="bat-img2" >
                <img  src="../../../assets/img/bautismo/18.jpg" style="box-shadow: 0 0 15px black;">
            </div>
            <div id="bat-text2" >
                <br>
                <img class="icons" src="../../../assets/img/icons/christianity.png">
                <br>
                <p>Cuando somos sumergidos en el agua durante el bautismo, nos identificamos con Jesús en su muerte y sepultura.</p>
              
            </div>
        </div>

        <div  class="fondo1">
            <div id="bat-text3">
                <br>
                <p>Cuando somos levantados del agua, nos identificamos con la Resurrección de Jesús y la esperanza de la vida eterna.
                ¡El bautismo también nos da al resto de nosotros la oportunidad de celebrar contigo!</p>
            </div>
                
        
            <div  id="bat-img3" >
                <img  src="../../../assets/img/bautismo/22.jpg" style="box-shadow: 0 0 15px black;">
            </div>
        </div>
        
    </div>

</div>


