#header {
    display: block;
    width: 100%;
    min-height:100px;
    margin-top: 40px;
}

#header img{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 10px 10px 80px rgb(134, 130, 130);
    
}

#header h1{
    display: block;
    text-align: center;
    margin-top: 15px;
}


.titulo {
    text-align: center;
    font-size: 1.4em;
    font-family: titilliumWeb;
}

.flex{
    display: inline-flex;
    width: 100%;
    margin-top: 25px;
    align-items: center;
    margin-bottom: 15px;
   
}

.fondo1{
    background: rgb(230, 227, 227);
    box-shadow: 0 0 40px gray;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: titilliumWeb;
}   

.fondo1 img{
    width: 100%;
    padding: 15px;
}

.fondo1 h5 {
    text-align: justify;
    padding: 15px;
    line-height: 30px;
 }

.fondo1 h3{
    padding: 15px;
}


.fondo2{
    box-shadow: 0 0 40px gray;
    background: rgb(255, 250, 250);
    margin-top: 10px;
    font-family: titilliumWeb;
}

.fondo2 img{
    width: 100%;
    padding: 15px;
}

.fondo2 h5 {
    text-align: justify;
     padding: 15px;
    line-height: 30px;
 }

.fondo2 h3{
    padding: 15px;
}


@media screen and (max-width: 920px) {


    .fondo1 {
        display: flex;
        flex-direction: column;
    }

    .fondo2{
        display: flex;
        flex-direction: column-reverse;
    }
    
    
}
