<div id="header">
    <img src="../../../assets/img/banner/banner_get_involved.jpg">

    <h1 class="">Servir en la Iglesia!!</h1>
</div>

<div class="container">
    <p class="titulo">
            Cada persona tiene <strong>dones y talentos</strong> únicos que pueden ser utilizados para servir a Dios y a los demás de diversas formas. 
            Ya sea ayudando a los niños a aprender acerca de Jesús en nuestro ministerio infantil, dando la bienvenida a los invitados 
            por primera vez, colaborando detrás de escena con el equipo de producción, distribuyendo alimentos en la comunidad o brindando esperanza a la gente, 
            ¡Hay muchas oportunidades para que marques la diferencia!
    </p>
    <hr>
    
    <div class="flex fondo1">
        <div>
            <img src="../../../assets/img/escuela/escuela1.jpg" alt="">
        </div>
        
        <div>
            <h3><strong>Servir con Los Niños</strong></h3>
            <h5>El equipo que cuida a los niños está formado por voluntarios que sirven dentro del ministerio 
            de niños de La Comunidad Carismática Jesucristo en el Señor. 
            El equipo usa sus dones y talentos para hacer posible llegar
            a cientos de niños en todas partes con el mensaje vivificante 
            de Jesucristo cada fin de semana. Mientras los padres experimentan 
            su servicio de adoración, los niños participan en ambientes emocionantes 
            y activos llenos de adoración, enseñanza bíblica y grupos pequeños.</h5>
        </div>

    </div>

    <div class="flex fondo2">
        <div>
            <h3><strong>Servir como Ujier</strong></h3>
            <h5>Lo más probable es que la primera interacción que tuvo en la congregación fue con 
            alguien de nuestro equipo de Ujieres. El equipo de Ujieres se enfoca en hacer que todos los que llegan se sientan 
            bienvenidos. Ya sea para saludar, ayudar a los que visitan por primera vez, en caso a emergencias 
            o más, el equipo Ujieres juega un papel importante en la experiencia de cada visitante. 
            <p>¡Venga a marcar la diferencia como parte del Dream Team de Ujieres!</p></h5>
        </div>

        <div>
            <img src="../../../assets/img/servir/ujier1.png" alt="">
        </div>

    </div>

    <div class="flex fondo1">
        <div>
            <img src="../../../assets/img/calle/calle1.jpg" alt="">
        </div>

        <div>
            <h3><strong>Evangelismo en la Calle</strong></h3>
            <h5>
                El objetivo del evangelismo es presentar el amor de Jesús a las personas y brindarles la oportunidad de tener una relación personal con Él. 
                El evangelismo en la calle es una forma de compartir la fe cristiana con otras personas y puede ser considerado como un servicio dentro de la iglesia.
                No se trata solo de convencer a las personas, sino de mostrarles el amor y la gracia de Dios, respetando las decisiones y creencias de cada individuo.
                <p>Corintios 3:6-8 -> <strong>Yo planté, Apolos regó; pero el crecimiento lo ha dado Dios.</strong></p>
            </h5>

        </div>

    </div>




    <div class="serve-ujieres">

        
    </div>



    <div class="serve-street">
        

    </div>


</div>


