

<header class="sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a [routerLink]="['/home']" ><img class="logo" src="../assets/img/icons/logo comunidad carismatica.png" (click)="cerrarMenu()"></a>
        <button id="boton-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isMenuOpen">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/home']" routerLinkActive="actived" (click)="cerrarMenu()">Inicio</a>
            </li>
              
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" routerLinkActive="actived" (click)="cerrarMenu()">Nosotros</a>
              </li>

              <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" routerLinkActive="actived" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                INVOLUCRARSE
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/involucrarse/smallgroups"  (click)="cerrarMenu()">Celulas</a></li>
                <li><a class="dropdown-item" routerLink="/involucrarse/baptism" (click)="cerrarMenu()" >Bautismo</a></li>
                <li><a class="dropdown-item" routerLink="/involucrarse/services" (click)="cerrarMenu()" >Servicios</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/serve']" routerLinkActive="actived" (click)="cerrarMenu()">Servir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="actived" (click)="cerrarMenu()">Contacto</a>
            </li>
          </ul>
          
        </div>
    </div>
    
  </nav>
  
</header>


<section id="content">
  <router-outlet></router-outlet>
</section>


<footer>
  <div class="fila1">
       
    <h2 id="mision">Nuestra Mision</h2>
     <p> 
      La Comunidad Carismatica Jesucristo es el Señor existe para ayudar a la gente a encontrar a Dios, 
      hacer crecer su fe, descubrir su proposito y hacer la diferencia
    </p>


   <div id="iconos-cristianos">
    <i class="fa-solid fa-hands-praying fa-2xl"></i>
    <i class="fa-solid fa-book-bible fa-2xl"></i>
    <i class="fa-solid fa-person-praying fa-2xl"></i>
    <i class="fa-solid fa-cross fa-2xl"></i>

   </div>
  </div>

  <div class="fila2">
      
    <div class="fila2Flex">
      <div class="logo-footer">
        <img class="logo" src="../assets/img/icons/logo comunidad carismatica.png"   alt="">
      </div>

      <div class="location">
        <p ><strong>Direccion:</strong></p>
        <p>Jiron Arica 365 Surco Pueblo, frente a la Comisaria</p>
        <!-- <img class="redes-sociales" src="../assets/img/icons/instagram.png" alt="">
        <img src="../assets/img/icons/tiktok.png" alt="" class="redes-sociales">-->
        <a href="https://www.facebook.com/ComunidadCarismaticaJesucristoEsElSenorOficial" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons/facebook.png" alt="" class="redes-sociales"></a>
        <a href="https://www.youtube.com/@AVIVAMIENTOESPIRITUALJEES" target="_blank"><img src="../assets/img/icons/youtube.png" alt="" class="redes-sociales"></a>
      </div>
      
      <div class="horarios">
        <p ><strong> Horario de Servicios</strong></p>
        <table>
          <tr>
            <th>Dia</th>
            <th>Horario</th>
          </tr>
          <tr>
            <th>Miercoles</th>
            <td>
                <tr> 7:00 pm a 8:20 pm</tr>
                <tr> 8:30 pm a 9:45 pm</tr>
            </td>
          </tr>
          <tr>
            <th>Domingos</th>
            <td>
              <tr>De 8:00 am a 9:30 am</tr>
              <tr>De 11:00 am a 12:30 pm</tr>
              <tr>De 7:00 pm a 8:30 pm</tr>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <div class="copyright">
        <p> <i class="fa-solid fa-copyright fa-xl"></i><span>2023 Comunidad Carismatica Jesucristo es el Señor</span></p>
    </div>
    
  </div>



</footer>

