


<header class="sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a [routerLink]="['/home']" ><img class="logo" src="../assets/img/icons/logo comunidad carismatica.png" (click)="cerrarMenu()"></a>
        <button id="boton-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isMenuOpen">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/home']" routerLinkActive="actived" (click)="cerrarMenu()">Inicio</a>
            </li>
              
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" routerLinkActive="actived" (click)="cerrarMenu()">Nosotros</a>
              </li>

              <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" routerLinkActive="actived" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                INVOLUCRARSE
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/involucrarse/smallgroups"  (click)="cerrarMenu()">Celulas</a></li>
                <li><a class="dropdown-item" routerLink="/involucrarse/baptism" (click)="cerrarMenu()" >Bautismo</a></li>
                <li><a class="dropdown-item" routerLink="/involucrarse/services" (click)="cerrarMenu()" >Servicios</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/serve']" routerLinkActive="actived" (click)="cerrarMenu()">Servir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="actived" (click)="cerrarMenu()">Contacto</a>
            </li>
          </ul>
          
        </div>
    </div>
    
  </nav>
  
</header>


<section id="content">
  <router-outlet></router-outlet>
</section>


<footer>
  <div class="fila1">
       
    <h2 id="mision">Nuestra Mision</h2>
     <p> 
      La Comunidad Carismatica Jesucristo es el Señor existe para ayudar a la gente a encontrar a Dios, 
      hacer crecer su fe, descubrir su proposito y hacer la diferencia
    </p>


   <div id="iconos-cristianos">
    <i class="fa-solid fa-hands-praying fa-2xl"></i>
    <i class="fa-solid fa-book-bible fa-2xl"></i>
    <i class="fa-solid fa-person-praying fa-2xl"></i>
    <i class="fa-solid fa-cross fa-2xl"></i>

   </div>
  </div>

  <div class="fila2">
  
    <div class="fila2Flex horarios">

      <div class="logo-footer">
        <img class="logo" src="../assets/img/icons/logo comunidad carismatica.png"   alt="">
      </div>

      <div >
        <p ><span><i class="fa-solid fa-calendar-days fa-xl"></i></span><strong> Horario de Servicios</strong></p>
        <div id="tarjetas" class="d-flex justify-content-evenly">
          <mat-card>
           <mat-card-header>
            <mat-card-title>
            <p><span><i class="fa-solid fa-cross fa-xl"></i></span> Miercoles : sanidad y adoración</p>
            </mat-card-title>
           </mat-card-header>
           <mat-card-content>
            <p>1er Servicio - 7:00 PM</p>
            <p>2do Servicio - 8:30 PM</p>
           </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
              <p><span><i class="fa-solid fa-user-group"></i></span> Viernes</p>
              </mat-card-title>
             </mat-card-header>
             <mat-card-content>
              <p>Discipulado - 7:00 PM</p>
             </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
              <p><i class="fa-solid fa-book-bible fa-xl"></i> Domingo</p>
              </mat-card-title>
             </mat-card-header>
             <mat-card-content>
              <p>1er Servicio - 8:00 AM</p>
              <p>2do Servicio - 11:00 AM</p>
              <p>3er Servicio - 7:00 PM</p>
             </mat-card-content>
          </mat-card>
        </div>
        
      </div>

  

      
    </div>
   
 
    
  </div>
  <div class="location">
    <p class="mt-4"><strong>Direccion:</strong></p>
    <p><span><i class="fa-solid fa-house fa-xl"> </i> </span> Jiron Arica 365 Surco Pueblo, frente a la Comisaria</p>
    <div id="redes-sociales" class="d-flex justify-content-center align-items-center">
      <a href="https://www.instagram.com/avivamiento_jees/" target="_blank" rel="noopener noreferrer"><img class="redes-sociales" src="../assets/img/icons/instagram.png" alt="instagram.png"></a>
      <a href="https://www.tiktok.com/@avivamiento_jees" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons/tiktok.png" alt="tiktok.png" class="redes-sociales"></a>
      <a href="https://www.facebook.com/ComunidadCarismaticaJesucristoEsElSenorOficial" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons/facebook.png" alt="facebook.png" class="redes-sociales"></a>
      <a href="https://www.youtube.com/@AVIVAMIENTOESPIRITUALJEES" target="_blank"><img src="../assets/img/icons/youtube.png" alt="youtube.png" class="redes-sociales"></a>
    </div>
  </div>

  <div class="copyright text-center">
    <p> <i class="fa-solid fa-copyright fa-xl"></i><span> 2023 Comunidad Carismatica Jesucristo es el Señor</span></p>
</div>



</footer>


