<div class="servicios-titulo">
    <img class="header-img" src="../../../assets/img/servicios/interior_banner.jpg" alt="">
    <br><br>
    <h2><strong>ASISTE A LOS SERVICIOS</strong></h2>
</div>

<div class="container" >
    <div >
        <div class="ns-header">
            <p><strong>Asiste a la Iglesia en los Horarios Preestablecidos</strong></p>
          
        </div>

        <div>
            <div class="flex fondo1">
                <div>
                    <img src="../../../assets/img/servicios/servicios2.jpg" alt="">
                </div>
                <div>
                    <h3>Ven a la Iglesia</h3>
                    <h5>Asistir a la iglesia es una práctica común entre muchos cristianos. Al hacerlo, 
                    se tiene la oportunidad de reunirse con otros creyentes para adorar a Dios, recibir 
                    enseñanzas bíblicas, participar en la comunión y fortalecer la fe.</h5>
                    
                </div>
            </div>
            <div class="flex fondo2">
                <div>
                    <h3>Comparte</h3>
                    <h5>La asistencia regular a la iglesia ofrece varios beneficios. Primero, 
                        proporciona un ambiente de compañerismo y comunión con otros creyentes, 
                        lo que puede ser alentador y edificante. Además, los servicios de la iglesia 
                        suelen incluir la adoración colectiva, que permite expresar amor y gratitud a Dios en comunidad.</h5>
                </div>
                <div>
                    <img src="../../../assets/img/servicios/servicios1.jpg" alt="">
                </div>

            </div>
            <div class="flex fondo1">
                <div class="icons">
                    <img  src="../../../assets/img/icons/christianity.png">
                </div>
                <div>
                    <h3></h3>
                    <h5>Es importante establecer que la asistencia a la iglesia no es el único 
                        medio para expresar y vivir la fe cristiana. La fe no se limita a un lugar físico 
                        o a un horario específico, sino que debe ser vivida en todos los aspectos de nuestra 
                        vida diaria. Esto implica mantener una relación personal con Dios, cultivar una vida 
                        de oración, estudiar la Biblia de forma individual y poner en práctica los principios
                        cristianos en todas nuestras interacciones y decisiones.</h5>
                </div>
            </div>
        </div>

    </div>   

</div>

